@charset "utf-8";
	.x31_11
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
}
.st1
{
	font-family : 小塚ゴシック Pr6N;
	font-size : 60px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.image
{
	background : #8EB2DD;
	background : rgba(142, 178, 221, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
}
.st
{
	font-family : 小塚ゴシック Pr6N;
	font-size : 36px;
	color : #000000;
	color : rgb(0, 0, 0);
}
